<div class="container">
  <div class="panel-heading">
    <div class="container-fluid">
      <img
      src="./../static/assets/ballotize_io.png"
      alt="image"
      class="center-block img-responsive logo">
      <h1 class="logo-text">ballotize<span class="logo-span">.io</span></h1>
      <p class="logo-headline">Instantaneous voting on anything</p>
    </div>
  </div>

  <hr>

  <div class="container">
    <h1 class="main-header">Info</h1>
    <p class="sub-directions">Code:</p>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-paperclip"></i>
      </span>
      <input type="text" class="form-control voter-info" ng-model="userrankvote.roomcode" readonly>
    </div>
    <p class="sub-directions">You are voting as:</p>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-user"></i>
      </span>
      <input type="text" class="form-control" ng-model="userrankvote.username" readonly>
    </div>
  </div>

  <hr>

  <div class="container">
    <h1 class="main-header">{{ userrankvote.topic }}</h1>
    <p class="sub-directions">Rank options below by order of preference (i.e., 1 being most preferred) and click 'Ballotize.it' to vote</p>
    <div class="form-group" ng-repeat="(key, option) in userrankvote.rankedVotes">
      <div style='text-align: center'>
        {{option.name}}  
        <input text="number" name="{{option.name}}" ng-model="userrankvote.rankedVotes[key].vote" placeholder="enter ranking here" required/>
      </div>
    </div>
    <button class="btn btn-success btn-md btn-block" ng-click="userrankvote.submitVote()">Ballotize.it</button>
    <p class="sub-directions">{{ userrankvote.errorMsg }}</p>
  </div>
</div>