html {
  background-image: url('../assets/ballotizebackground.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
}

body {
  background-color: transparent;
}

hr {
  border-width: 2px;
}

.btn-add-remove {
  margin: 10px;
}

.btn-reset-submit {
}

.form-horizontal .form-group {
  margin-left: none;
  margin-right: none;
}

.input-group {
  margin-bottom: 20px;
}

.form-horzontal .input-choice {
  width: 80%;
  margin-left: none;
  margin-right: none;
}

.logo {
  margin-: -4px
}

.logo-text {
  font-family: Brush Script MT;
  margin: 0;
  padding: 0;
  border: 0;
  color: 003399;
  text-align: center;
  font-size: 50px;
  text-padding: 0;
}

.logo-span {
  font-family: Open Sans;
  font-size: 32px;
  font-weight: 600;
}

.logo-headline {
  font-family: Open Sans;
  font-size: 18px;
  color: black;
  text-align: center;
}

.main-button {
  padding: 20px 10px;
  font-family: Open Sans;
  width: 80%;
  margin: 0 auto;
}

.main-header {
  font-family: Open Sans;
  text-align: center;
}

.sub-header {
  font-family: Open Sans;
  text-align: center;
}

.sub-directions {
  font-family: Open Sans;
  text-align: center;
  margin: 10px;
  font-size: 14px;
}

.thanks-text {
  font-family: Open Sans;
  font-size: 20px;
  text-align: center;
}

.voted-text {
  font-family: Open Sans;
  text-align: center;
}

.voted-users {
  font-family: Open Sans;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  color: #104aa9;
}

.not-voted-users {
  font-family: Open Sans;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  color: #ed145b
}
