<div class="container">
  <form novalidate class="form-horizontal">
    <label>Topic</label>
    <div id="input-group">
      <input type="text" ng-model="ballotcreation.topic" />
      <ul>
        <li ng-repeat="(key,value) in ballotcreation.options">Option {{key}}: <input type="text" ng-model="ballotcreation.options[key]" /></li>
      </ul>
    </div>

    <button
      type="text"
      ng-click="ballotcreation.add()">
      Add a choice
    </button>
    <button
      type="text"
      ng-click="ballotcreation.remove()">
      Remove a choice
    </button>

    <button
      type="text"
      ng-click="ballotcreation.reset()">
      Reset
    </button>

    <button
      type="text"
      ng-click="ballotcreation.submit()">
      Submit
    </button>

  </form>
  <pre>topic = {{ballotcreation.topic}}</pre>
  <pre>options = {{ballotcreation.options | json}}</pre>
  <pre>saved = {{ballotcreation.saved | json}}</pre>
</div>
